serviceAccountKey.json
backend-api/serviceAccountKey.json
backend-api/serviceAccountKey.json.json
.venv/
backend-api/.venv/
backend-api/__pycache__/
backend-api/app/__pycache__/
mobile/node_modules/
mobile/.expo/
mobile/dist/
.env
backend-api/.env